/* ------------------------------------------------------------ */
/* estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #4b4453;
  /* background: #000; */
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: #00c9a7;
}
/* ------------------------------------------------------------ */
/* navbar */
.navbar__init {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url(https://toptoys2u.co.uk/cdn/shop/collections/Website_Category_banners_13.png?v=1662986669);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px #4ffbdf, 0 0 8px #4ffbdf, 0 0 8px #4ffbdf;
  padding: 0 1rem;
}
.navbar__logo {
  display: none;
}
.navbar__input {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
}
.navbar__input input {
  width: 0;
  outline: none;
  border-radius: 100vh;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: #4ffbdf -3px -3px 15px, #4ffbdf 5px 5px 15px;
  padding-left: 40px;
  background-image: url(https://cdn.pixabay.com/photo/2013/10/01/16/55/magnifying-glass-189254_1280.png);
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
}
.navbar__input input:focus {
  width: 400px;
  cursor: initial;
  background-position: 10px;
}
/***********************************************************************************************/
/* Buscador con sugerencias */
.sugerencia {
  margin-left: 10px;
  border-bottom: 1px solid lavender;
  font-size: 1rem;
  padding: 0.5rem 0;
  /* margin: 0 1rem; */
}
.react-autosuggest__suggestions-container--open {
  position: absolute;
  width: 400px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  border-radius: 20px;
  margin-top: 5px;
  right: 1rem;
  max-height: 260px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 2;
}
.react-autosuggest__suggestions-list {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  cursor: pointer;
  text-align: left;
  margin-top: 5px;
  color: black;
  /* margin: 0 1rem; */
}
.react-autosuggest__suggestion--highlighted {
  background-color: #00c9a7;
  color: white;
}
/***********************************************************************************************/
/* ------------------------------------------------------------ */
/* spinner de carga y background animado*/
.loader {
  display: grid;
  place-content: center;
  height: 100vh;
}
.box ul li {
  position: fixed;
  width: 35px;
  height: 35px;
  list-style: none;
  opacity: 0;
  background: radial-gradient(deepskyblue, transparent, transparent);
  bottom: 0;
  left: 10vw;
  animation: animate 15s linear infinite;
}
.box ul li:nth-child(2) {
  left: 37vw;
  animation-delay: 2s;
}
.box ul li:nth-child(3) {
  left: 25vw;
  animation-delay: 4s;
}
.box ul li:nth-child(4) {
  left: 60vw;
  animation-delay: 6s;
}
.box ul li:nth-child(5) {
  left: 75vw;
  animation-delay: 4s;
}
@keyframes animate {
  0% {
    transform: scale(0);
    opacity: 1;
    bottom: 0;
  }
  100% {
    transform: scale(10);
    opacity: 0;
    bottom: 100%;
  }
}
/* ------------------------------------------------------------ */
/* informacion de las ubicaciones */
.article {
  margin: 0 1rem;
}
.article__info {
  background: rgba(0, 0, 0, 0.6);
  max-width: 1400px;
  margin: 0 auto;
  height: 100px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 5px #4ffbdf, 0 0 8px #4ffbdf, 0 0 8px #4ffbdf;
}
.article__title {
  text-align: center;
  padding: 1rem;
}
.article__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.article__locationName {
  margin-top: 3rem;
  text-align: center;
  color: white;
}
/* ------------------------------------------------------------ */
/* card de los personajes */
.card__global {
  margin: 0 1rem;
}
.card__general__residents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  max-width: 1400px;
  margin: 1rem auto;
}
.card__resident {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px #4ffbdf, 0 0 8px #4ffbdf, 0 0 8px #4ffbdf;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  color: white;
  z-index: 100;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}
.card__resident:hover {
  box-shadow: 0 0 10px #b39cd0, 0 0 15px #b39cd0, 0 0 15px #b39cd0;
  /* background: rgba(255, 255, 255, 0.8); */
  background: white;
  color: #00c9a7;
}
.card__resident:active {
  transform: scale(1.1);
}
.card__resident .card__image {
  width: 100%;
  border-radius: 100vh;
}
.card__status {
  position: absolute;
  top: 5%;
  left: 0;
  background: #4b4453;
  padding: 0.3rem 1rem;
  color: white;
  border-radius: 0 100vh 100vh 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Alive {
  width: 15px;
  height: 15px;
  border-radius: 100vh;
  background: greenyellow;
}
.Dead {
  width: 15px;
  height: 15px;
  border-radius: 100vh;
  background: red;
}
.unknown {
  width: 15px;
  height: 15px;
  border-radius: 100vh;
  background: white;
}
.card__name {
  text-align: center;
  margin: 0.5rem 0;
}
.card__list {
  list-style: none;
}
/* ------------------------------------------------------------ */
/* estilos de los botones del paginado */
.Button__pagination button {
  padding: 0 1.2rem;
  background: #00c9a7;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 0.2rem;
  box-shadow: 0 0 5px #00c9a7, 0 0 10px #00c9a7, 0 0 10px #00c9a7;
  transition: transform 0.3s;
}
.Button__pagination button:hover {
  box-shadow: 0 0 10px #4ffbdf, 0 0 20px #4ffbdf, 0 0 20px #4ffbdf;
  transform: scale(1.1);
}
/* ------------------------------------------------------------ */
/* HasError */
.HasError {
  display: grid;
  place-content: center;
  height: 100vh;
  color: aliceblue;
}
/* ------------------------------------------------------------ */
@media (max-width: 500px) {
  .navbar__init {
    padding-top: 1rem;
    background: rgba(0, 0, 0, 0.6);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar__logo {
    display: inline;
  }
  .navbar__logo img {
    height: 80px;
  }
  /* .navbar__input input {
    width: 100%;
  } */
  .navbar__input input :focus{
    display: none;
  }
  .react-autosuggest__suggestions-container--open {
    width: 92%;
  }
  .article__info {
    height: fit-content;
    padding-bottom: 1rem;
  }
  .article__item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .article__descrip {
    font-weight: bold;
  }
  .card__global{
    box-sizing: border-box;
  }
  .card__general__residents {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
  }
  .Button__pagination button {
    padding: 0 0.8rem;
    background: #00c9a7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem 0.2rem;
    box-shadow: 0 0 5px #00c9a7, 0 0 10px #00c9a7, 0 0 10px #00c9a7;
    transition: transform 0.3s;
  }
}

